body{top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    height: 1657px;
    background: var(--pozadí-stránky) 0% 0% no-repeat padding-box;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align:center;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;}

.img-happy{text-align: center;}

h1 {font-family: "Montserrat", sans-serif; 
    font-size: 28px;
    font-weight: medium;
    color:black;
    text-align:center;}

p{font-family: "Montserrat", sans-serif; 
    font-size: 16px;
    color:black;}

h2 {font-family: "Montserrat", sans-serif; 
    font-size: 16px;
    color:black;}

.button-1{
        font-family: "Montserrat", sans-serif; 
        font-size: 14px;
        font-weight: regular;
        opacity: 1;
        color: white;
        border-radius:20px;
        border-color:#407BFF;
        background:#407BFF 0% 0% no-repeat padding-box;;
        width: 195px;
        height: 40px;}

.button-2{font-family: "Montserrat", sans-serif; 
    font-size: 14px;
    font-weight: regular;
    opacity: 1;
    color: white;
    border-radius:20px;
    border-color:#8B8B8B;
    background:#8B8B8B 0% 0% no-repeat padding-box;
    width: 220px;
    height: 40px;}

.tlacitka{display:flex;}

.box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    text-align: center;
    opacity: 1;
    letter-spacing: 0px;
    color: #8B8B8B;
    width: 460px;
    height: 80px;
    margin: 20px 15px 20px 15px;
}

.img{margin: 20px 0px 20px 20px;
}

@media screen and (min-width: 640px){
    .tlacitka {display:block;}
}